<% if !@cart.contents.empty? %>
  <p class="cart-title">Cart</p>
  <%= render partial: '/partials/order_items', locals: {items: @items,
    cart_show: params[:controller]=='cart'} %>
  <section class="cart-actions">
    <div class="empty-btn">
      <%= link_to "Empty your cart", '/cart/empty', class: 'empty-the-cart' %>
    </div>
    <div class="checkout-btn">
      <%= link_to "Checkout", '/orders/new', class: 'regular-button' %>
    </div>
  </section>
<% else %>
  <p class="page-title">Your cart is empty.</p>
<% end %>
