<section id='item-<%= @item.id %>-top-3-reviews'>
  <h5>Most Popular Reviews</h5>
  <% @item.reviews.top_three_reviews.each do |title, rating| %>
    <div>
      <span>
        <%= title %> | <%= render partial: 'partials/star_rating', locals: {star: rating} %>
      </span>
    </div>
  <% end %>
</section>
