<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-sm">
      <h3>Your Order Information</h3>
      <%= render "partials/cart_show" %>
    </div>

    <div class="col-6" align='center'>
      <h3>Shipping Information</h3>
      <p>Please fill out your information below</p>
      <%= render partial: 'partials/merchants_form', locals: { path: '/orders', method: :post, button: 'Submit Order' } %>
    </div>
  </div>
</div>
