<h1 class="display-1 home-page">
  <img src="https://image.flaticon.com/icons/svg/685/685784.svg" alt="bike" id="home-img-bike">
  &
  <img src="https://image.flaticon.com/icons/svg/620/620851.svg" alt="dog" id="home-img-dog">
</h1>
