<p class="page-title">New Order</p>

<h3 class="h3-new-order">Cart Details</h3>
<%= render partial: '/partials/order_items', locals: {items: @items,
  cart_show: params[:controller]=='cart'} %>
<center>
  <h3 class="h3-new-order">Shipping Information</h3>
  <div class="shipping-form">
    <%= render partial: '/partials/address_form', locals: {path: '/orders', button: 'Place Order'} %>
  </div>
</center>
