<h1 class='display-1' align = "center">Merchants</h1>
<%= link_to "New Merchant", "/merchants/new", class: "btn btn-outline-success"%>
<hr>
<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "grid-item" id = "merchant-<%=merchant.id%>">
      <a href=<%= "/merchants/#{merchant.id}" %>><img src="https://image.flaticon.com/icons/svg/679/679946.svg" alt="little-shop" class="img-merchant"></a>
      <h2 class='merchant-link'><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
    </section>
  <% end %>
</section>
