<br /><br />
<h1 class='display-3' align= "center">Create Merchant</h1>
<center>
  <%= render partial: 'partials/merchants_form', locals: { path: '/merchants', method: :post, button: 'Create Merchant'  } %>
</center>
