<h1>Create New Item For <%=link_to @merchant.name, "/merchants/#{@merchant.id}" %></h1>

<%= render partial: "form", locals: {value: false, method: :post, path: "/merchants/#{@merchant.id}/items", button_text: 'Create Item'} %>
