/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "responsive";

body {
  background-color: white;
 }


p {
  font-size: 20px;
}

ul{
  padding: 0px;
  text-align: center;
}

img{
  width: 50%;
}

input[type=text], select {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

input[type=submit] {
 width: 100%;
 background-color: #17BEBB;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

input[type=submit]:hover {
 background-color: #45a049;
}

form {
 font-size: 15px;
 margin-top: 20px;
 align-content: center;
 padding: 20px;
 width: 70%;
}

review {
 font-size: 18px;
}

#top-navbar {
  margin-bottom: 20px;
  font-size: 20px;
}

#home-img-bike {
  margin-left: auto;
  margin-right: 70px;
  width: 15%;
}

#home-img-dog{
  margin-left: 70px;
  margin-right: auto;
  width: 10%;
}

#cart-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 10%;
}

#checkout-button {
  display: block;
  background-color: #f0c14b;
  color: black;
  text-decoration: none;
  text-align: center;
  opacity: 0.9;
  padding: 0.5rem;
  margin-top: 30px;
}

#empty-cart-button {
  display: block;
  background-color: #E0E0E0;
  color: black;
  text-decoration: none;
  text-align: center;
  opacity: 0.9;
  padding: 0.5rem;
  margin-top: 30px;
}

.home-page {
  margin-top: 10rem;
  text-align: center;
}

.img-merchant {
  margin-bottom: 20px;
  width: 30%;
}

.merchant-link {
  font-family: "Geneva";
  font-size: 2rem;
}

 .grid-container{
 	display: grid;
 	grid-template-columns: repeat(3,1fr);
 	grid-template-rows: auto;
 	grid-gap: 30px;
 }

 .grid-item{
 	padding: 20px;
 	text-align: center
 }

 .item-show-grid{
  width: 60%;
 	display: grid;
  border: solid;
  border-radius: 12px;
 	grid-template-columns: repeat(2,1fr);
 }

 .item-show-item{
 	padding: 20px;
 	text-align: center;
  margin-top: 3rem;
 }

 .item-show {
   width: 70%;
 }

 .topnav a:hover {
   background-color: #17BEBB;
   color: black;
 }

 .address{
   text-align: center;
 }

.form-label {
  font-size: 2.8rem;
  font-weight: 200;
  line-height: 1.3;
}

.item-buttons {
  width: 70%;
  margin-left: 30px;
  font-size: 20px;
}

.card-img-top {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width:250px;
  min-height:300px;
  width: auto;
  height: auto;
}

.card-title {
  font-size: 25px;
}

.card-footer {
  text-align: center;
  font-size: 20px;
}

.rating {
  width: 2%;
}

a.new {
  @extend .btn;
  @extend .btn-success;

  &:before {
    font-family: "FontAwesome";
    @extend .fa-plus;
    padding-right: 0.5em;
  }
}

a.cart {
  margin-right: 0.5em;
}

a.quantity-btn {
  @extend .btn;
  @extend .btn-info;
  @extend .btn-sm;
  margin: 15px;
}
