/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 background-color: white;
 }

 h1 {
  text-align: center;
 	font-size: 40px;
 	color: #002244;
 	font-family: "Marker Felt", fantasy;
 }

ul{
  padding: 0px;
  text-align: center;
}
img{
  width: 50%;
}

 .grid-container{
 	display: grid;
 	grid-template-columns: repeat(5,1fr);
 	grid-template-rows: auto;
 	grid-gap: 30px;
 }

 .grid-item{
 	background-color: #17BEBB;
 	padding: 20px;
  border: solid;
 	border-radius: 12px;
  border-color: #002244;
 	text-align: center
 }
 .item-show-grid{
  width: 60%;
 	display: grid;
  border: solid;
  border-radius: 12px;
 	grid-template-columns: repeat(2,1fr);
 }

 .item-show-item{
 	padding: 20px;
 	text-align: right;
 }

 .topnav {
   overflow: hidden;
   background-color: #002244;
 }

 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 12px 1px;
   text-decoration: none;
   font-size: 24px;
   /* margin-top: 50px; */

 }

 .topnav a:hover {
   background-color: #17BEBB;
   color: black;
 }

 .address{
   text-align: center;
 }

 input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #17BEBB;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
form {
  align-content: center;
  background-color: #ffffff;
  padding: 20px;
  width: 60%;
}

.highlight-column {
  float: left;
  width: 50%;
}

.review-column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#cart-icon{
  width: 150px;
}

.flash-message{
  color: #00529B;
  margin:10px 22px;
  font-size:28;
  vertical-align:middle;
  text-align:center;
  padding:12px;
}

#buy_button {
  border-radius: 25px;
  background-color: #002244;
  border: 2px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  text-shadow: 2px 2px #0f0f0f;
}

#buy_button:hover {
  background-color: pink;
  color: white;
  border: 2px solid white;
}

.cart-container{
 display: grid;
 width:500px;
 margin:0 auto;
 position:relative;
 grid-gap: 30px;
 justify-items: center;
 position: relative;
}

.cart-item{
 background-color: #ffffff;
 padding: 20px;
 border: solid;
 border-radius: 12px;
 border-color: #002244;
 text-align: center
}


#order-check {
            display: inline-flex;
            background-color: #002244;
            padding: 12px;
            width: 25%;
            /* margin-top: 20px; */
            align-content: center;
            float: left;


            /* overflow: hidden; */
            /* background-color: #002244; */
            /* float: left; */
            /* color: #f2f2f2; */
        }

/* Dropdown Button */
.dropbtn {
  background-color: rgb(236, 143, 232);
  color: white;
  padding: 16px;
  font-size: 26px;
  border: solid;
  border-radius: 10px;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #39daf0;}