/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
   text-align: center;
 }

 img {
   width: 75%;
 }

img.center {
  display: block;
  margin: 0 auto;
}

 .card {
  margin: auto;
  float: none;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.form-width {
  width: 50%;
  margin: 0 auto;
}

.img-container {
  width: 48%;
  position: relative;
  margin-left: 5%;
}

.item-container {
  display: flex;
  flex-direction: row;
}

.text-container {
  width: 48%;
}
