/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   box-sizing: border-box;
 }

 body {
   display: grid;
   background-color: white;
   height: 100vh;
   font-family: 'Questrial', sans-serif;
   grid-template-rows: 50px 1fr;
   margin: 0;
  }

  header {
    background: black;
    text-align: center;
  }

  header p {
    color: white;
  }

  .cart_div {
    display: flex;
    justify-content: center;
    vertical-align: baseline;
  }
  
  .cart_div p {
    margin: 8px 8px 0;
    font-size: 1.4rem;
  }
  
  main {
   display: grid;
   height: 100vh;
   background-color: #f2f2f2;
   grid-template-columns: 1fr 2fr;
 }

 aside {
   display: flex;
   flex-direction: column;
 }

 h1 {
  text-align: center;
 	font-size: 40px;
 	color: #002244;
 }

ul{
  padding: 0px;
  text-align: center;
}
img{
  width: 90%;
}

.cart_image {
  fill: white;
}

.cart_add_svg {
 height: 36px;
 width: 36px;
}

.cart_add_button {
  background-color: transparent;
  border: 3px solid transparent;
  cursor: pointer;
}

.cart_add_button:hover {
  background-color: transparent;
  border: 3px solid tomato;
  cursor: pointer;
}

 .grid-container{
 	display: grid;
 	grid-template-columns: repeat(5,1fr);
 	grid-template-rows: auto;
  grid-gap: 30px;
  margin: 0 auto;
   
 }

 .grid-item{
 	background-color: white;
 	padding: 20px;
  border: solid;
 	border-radius: 12px;
  border-color: #002244;
   text-align: center;
 }
 .item-show-grid{
  width: 60%;
 	display: grid;
  border: solid;
  border-radius: 12px;
 	grid-template-columns: repeat(2,1fr);
 }

 .item-show-item{
 	padding: 20px;
 	text-align: right;
 }

 .topnav {
   overflow: hidden;
   justify-content: center;
   align-items: center;
   background-color: #002244;
 }

 .topnav a {
   color: #f2f2f2;
   padding: 10px 0;
   text-align: center;
   text-decoration: none;
   font-size: 17px;
   border-bottom: 3px solid transparent;
   width: 200px;
 }

 .topnav a:hover {
   border-bottom: 3px solid tomato;
   color: white;
 }

 .address{
   text-align: center;
 }

 /* input[type=text], select, option {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

select {
  height: 40px;
}

/* input[type=submit] {
  width: 100%;
  background-color: #17BEBB;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* input[type=submit]:hover {
  background-color: #45a049;
} */

form {
  align-content: center;
  margin: 20% auto 0;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
}
