<h1> Edit <%= link_to @item.name, "/items/#{@item.id}" %>s review</h1>

<%= render partial: "form", locals: {value: true, method: :patch, path: "/reviews/#{@review.id}", button_text: 'Update Review'} %>
