<h1>Create New Review For <%=link_to @item.name, "/items/#{@item.id}" %></h1>

<%= render partial: "form", locals: {value: false, method: :post, path: "/items/#{@item.id}", button_text: 'Create Review'} %>
