<h1>Create New Review For <%=link_to @item.name, "/items/#{@item.id}" %></h1>

<!-- Use Partial Here -->
<%= render partial: "form", locals: {title_value: nil, content_value: nil, rating_value: nil, holder: true, method: :post, path: "/items/#{@item.id}", button_text: 'Create Review'} %>
